<a href="https://colab.research.google.com/github/Sangitakumarik/data-sci/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Some Basic Questions of Python**

# New Section

# New Section

In [ ]:
a=6
b=8
c=8
R=a+b+c
print(R)

22

In [ ]:
print("Sangita")

Sangita

In [ ]:
n=int(input("Enter a no : "))
sum=0
for i in range (1,n+1):
    sum=sum+i
print(sum)

Enter a no : 10
55

In [ ]:
n=int(input("Enter a no : "))
f=1
for i in range(1,n+1):
  f=f*i
print("fectorial is :",f)

Enter a no : 5
fectorial is : 120

In [ ]:
n=int(input("Enter a no : "))
if(n % 2)==0:
    print("even")
else:
    print("Odd")

Enter a no : 7
Odd

Day 1 Python class (Basic data Types in python)

In [5]:
#int
a=2
print(type(a))

<class 'int'>

In [6]:
#Float
a=2.3
print(type(a))

<class 'float'>

In [15]:
#Charecter
a="Sangita"
print(type(a))

<class 'str'>

In [11]:
#Sting Types
a="sangita"
b='kumari'
e=''' My name is : 
sangita'''
print(e)
print(a)
print(b)

 My name is :
sangita
sangita
kumari

In [13]:
#boolean
a=True
print(type(a))
print(a)

<class 'bool'>
True

In [14]:
#complex
ab=2+3j
print(type(ab))

<class 'complex'>

In [18]:
list1=[1,2,3,4,5,'sangita',4.5]
print(type(list1))

<class 'list'>

In [23]:
list1=[1,23,4,4] #1D array
list2=[2,3,4,[3,45]]#2D array
list3=[[[1,2],[3,4]]]#3D array
print(list1,list2,list3)

[1, 23, 4, 4] [2, 3, 4, [3, 45]] [[[1, 2], [3, 4]]]

In [38]:
list2=[1,2,3,4,5,6,7,8,9]
list2[3] #index is 2 
list2[-1] #Reverse index 
list2.append(23)
list2.insert(1,10)

In [31]:
list2.append(24)

In [32]:
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 23, 24]

In [39]:
print(list2)

[1, 10, 2, 3, 4, 5, 6, 7, 8, 9, 23]

In [45]:

print(list2[0:5])

[1, 10, 2, 3, 4]

In [46]:
print(list2[0:7:2])

[1, 2, 4, 6]

In [49]:
#operation
l1=[2,2,3]
l2=[5,6,7]
print(l1*3)#Repear 3 times
print(l1*2)#Repeat 2 times

[2, 2, 3, 2, 2, 3, 2, 2, 3]
[2, 2, 3, 2, 2, 3]

In [56]:
#Functions
l1=[1,2,3,45,]
l=len(l1)
b=max(l1)
m=min(l1)
s=sorted(l1)
print(l)
print(b)
print(m)
print(s)

4
45
1
[1, 2, 3, 45]

In [58]:
#loop
l1 = []
for i in range (1,10):
  l1.append(i)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
#List Comprehenssion (To make Low Time complexity)
l = [i for i in range(1,10)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
#List Comprehenssion (To make Low Time complexity)
l = [i for i in range(1,10) if i%2==0]
print(l)

[2, 4, 6, 8]

In [66]:
l=[3,4,5]
l1=[i*2 for i in l]
print(l1)

[6, 8, 10]

In [67]:
l=[1,51]
l=[i for i in range (1,51) if i%5==0 ]
print(l)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [72]:
l=[1,2,3,4,5]
l=[i*i for i in l ]
print(l)

[1, 4, 9, 16, 25]